@forward "reset";
@forward "variables/global";
@forward "themes/standard";

.app {
	font: var(--font-m);
	color: var(--on-surface-color);
	background: var(--surface-color);
}

.content-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}
