.app_standard {
	--outline-color: #79747e;
	--outline-variant-color: #c8c2cd;
	--shadow-color: #000000;

	--surface-color: #FCF5FDFF;
	--surface-dim-color: #dcd6de;
	--on-surface-color: #1D1B20FF;
	--on-surface-variant-color: #48444d;
	--inverse-surface-color: #322f35;
	--inverse-on-surface-color: #f3edf5;

	--surface-container-color: #f0eaf2;
	--surface-container-lowest-color: #fdfdfd;
	--surface-container-low-color: #f6f0f8;
	--surface-container-high-color: #eae4ec;
	--surface-container-highest-color: #e4dee7;

	--primary-color: #665395;
	--inverse-primary-color: #cebbfc;
	--on-primary-color: #fdfdfd;
	--primary-container-color: #c6b2fb;
	--on-primary-container-color: #4d3b7a;
	--primary-fixed-color: #c6b2fb;
	--primary-fixed-dim-color: #ab97de;
	--on-primary-fixed-color: #1e0a41;
	--on-primary-fixed-variant-color: #3f2f66;

	--secondary-color: #5c5c71;
	--on-secondary-color: #fdfdfd;
	--secondary-container-color: #e0def7;
	--on-secondary-container-color: #434458;
	--secondary-fixed-color: #e0def7;
	--secondary-fixed-dim-color: #c4c2da;
	--on-secondary-fixed-color: #191a2c;
	--on-secondary-fixed-variant-color: #434458;

	--error-color: #b91a1a;
	--on-error-color: #fdfdfd;
	--error-container-color: #fdd8d4;
	--on-error-container-color: #7c2b25;


}
